nav.site-navigation.bg-white
    - var menu = { 'feed' : { url : '/feed', icon: { normal: 'far fa-comments icon', active: 'fas fa-comments icon', } }, 'notifications' : { url : '/notifications', icon: { normal: 'far fa-bell icon', active: 'fas fa-bell icon', } }, 'direct' : { url : '/who-to-follow', icon: { normal: 'far fa-bookmark icon', active: 'fas fa-bookmark icon', } } }
    .container.h-100
        .row.h-100
            .col-lg-10.mx-auto
                .row.h-100
                    .col-lg-5.order-lg-12.d-flex.align-items-center.position-relative
                        img.user-menu-toggler.rounded-circle.user-avatar-30.ml-lg-auto.cursor-pointer(src="/images/avatars/#{user.avatar}")
                        b.user-menu-toggler.d-none.d-lg-inline-block.mx-2.cursor-pointer #{user.name}
                        i.user-menu-toggler.d-none.d-lg-inline.fas.fa-chevron-down.text-secondary.cursor-pointer
                        include ./user-menu
                        h1.h5.d-inline-blocks.d-lg-none.ml-4.mb-0.font-weight-bold= title
                    .col-lg-7.order-lg-1.px-0.px-lg-3
                        ul.list-inline.nav-items.h-100
                            each val, key in menu
                                if active === key
                                    li.active 
                                        a(href= val.url)
                                            i(class= val.icon.active)
                                else
                                    li
                                        a.text-secondary(href= val.url)
                                            i(class= val.icon.normal)