script#post-item(type="text/template").
    <div class="list-group-item rounded-0 d-flex p-3">
        <div><img class="user-avatar-40 user-avatar" src=""></div>
        <div class="ml-2">
            <b class="post-user-name"></b>
            <span class="text-muted d-inline-block mx-2 post-user-alias"></span>
            <span class="d-inline-block mr-2">&middot;</span>
            <span class="text-muted post-time"></span>
            
            <p class="mb-0 feed-post-content"></p>
        </div>
    </div>
