doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    title #{ title } | Parrot  
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/solid.css', integrity='sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/regular.css' integrity='sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css', integrity='sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6', crossorigin='anonymous')
    link(rel='stylesheet',href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="#{bodyClass}")
      - var app_name = 'Parrot';
    block content
      - var active = 'feed';
    include ./components/post-item-template

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(src='/javascripts/Validator.js')
    script(src='/javascripts/FormErrors.js')
    script(src='/javascripts/scripts.js')
