extends layout

block content
  .container-fluid.h-100
    .row.h-100
        .col.bg-light.order-md-2.d-flex.align-items-center.justify-content-center
            div.col-sm-8.col-md-5.col-lg-4.py-3.text-center
                h1.text-primary.mb-4.mb-md-5
                    span.fas.fa-crow
                    span.sr-only= title

                include ./components/alert.pug
                
                form(action="/password-recover", method="post", data-invalid="true", novalidate)
                    fieldset
                        .form-text.text-muted.text-left.mb-3 Digite seu email que enviaremos uma mensagem com instruções para você recuperar sua senha.
                        .form-group.text-left
                            label.sr-only(for="email") Email
                            input.form-control(type="email", name="email", placeholder="Email", id="email", data-validator="email")
                        div.mb-5.text-right
                            button.btn.btn-primary.btn-block(type="submit", data-loading="Aguarde..." data-text="Recuperar Senha") Recuperar Senha

                        .text-center 
                            a(href="/") &larr; Voltar para login
